body {
  background-color: #222021;
  color: #B9BBB6;
  font-family: sans-serif;
  font-size: 16px;
}

#middle_text {
    border: 1px solid white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    color: white;
    padding:10px;
    border-radius: 8px;
    z-index: 1;
}

#middle_text #buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

#middle_text button {
  position: relative;
  text-align: center;
  border: 3px solid white;
  border-radius: 12px;
  padding: 5px 20px;
}

#middle_text button:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: black;
  transform: scale(1.03);
}
